body {
    background-color: rgb(255, 245, 157);
    margin: 0px;
    height: 100%;
}

hr {margin-left:0;margin-right:0}

input {
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    outline: 2px blue;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}


footer {
    background-color: rgb(255, 111, 0);
    height: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;  
}

h2 {
    margin-bottom: 2px;
}


#logo {
    background-color: rgb(255, 111, 0);
    height: 4em;
    text-align: center;
}

#logo > h1 {
    position: relative;
    top: 20%;
    margin-top: 0px;
    text-shadow: 0 2px rgb(245,245,245);
}

#message {
    text-align: center;
    color: rgb(221, 44, 0);
    padding: 5px;
}


.shopping-cart-img {
    display: block;
    margin: 0 auto;
    padding: 5px;

}

.optional > h2 {
    text-align: center;
}

.optional > #discount {
    display: block;
    margin: 0 auto;

}

.submit {
    padding: 10px;
}

.submit > button {
    background-color: rgb(46, 125, 50);
    
    color: rgb(245,245,245);
    padding: 5px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    display: flex;
    height: 70px;
    background-color: rgb(49, 47, 47, 0.2);

}

.display > .item {
    height: 10px;
    width: 120px;
    text-align: center;
}

.message {
    width: 100%;
    text-align: center;
    background-color: rgb(49, 47, 47, 0.2);
}

.inputItem {
    padding: 5px;
}

.inputItem > div {
    padding: 10px;
    /* border: 1px solid black; */
}

.inputItem > label {
    display: block;
    width: 100%;
}

.updownbtn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(254, 124, 0);
}

.btn > button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(254, 124, 0);

}

.shoppinglistitems > ul > li {
    list-style: none;
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.shoppinglistitems > ul > li:hover {
    background-color: rgb(254, 124, 0);
    color: black;
}

.close {
    float: right;
    margin-left: 50px;
}

.close:hover {
    color: red;
    background-color: black;
}

#productItem {
    overflow: scroll;
}

.items > li {
    margin: 10px;
    color: blue;
}

.footer-notes {
    display: block;
    position: relative;
    text-align: center;
    top: 15%;
    color: rgb(250, 250, 250);
}